*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins','Roboto', sans-serif;
    transition: all .3s ease;
}
:root{
    --main_background:#2E282A;
    --main_color: #EE555B;
    --color_font: #ffffff;
    --secondary_color: #3399ff;
    --complementary_color: #17bbbe;
}
html{
    font-size: 62.5%;
}
body{
    background-color: var(--main_background);
}
body header{
    width: 100%;
    line-height: 6rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
body header .desktop ul{
    display: flex;
    flex-direction: row;
}
body nav ul li{
    list-style: none;
    font-weight: bold;
    padding: 2rem 3.2rem;
    font-size: 1.5rem;
}
body nav ul li a{
    text-decoration: none;
    color: var(--color_font);
    transition: all .3s ease;
}
body nav ul li a:hover{
    transition: all .3s ease;
    color: var(--main_color);

}
body nav ul li .active{
    color: var(--main_color);
    transition: all .3s ease;
}
body footer{
    background-color: var(--main_color);
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 8rem;
}
body footer p{
    color: var(--color_font);
    font-size: 1.6rem;
}
main{
    margin: auto;
    justify-content: center;
    align-items: center;
    width: 70%;
}
main .login_section{
    margin: 12rem auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
main .login_section h2{
    font-size: 5rem;
    color: var(--main_color);
    font-weight: bold;
}
main .login_section .login_section-form{
    max-width: 720px;
    display: flex;
}
main .login_section .login_section-form form{
    display: inherit;
    flex-direction: column;
}
main .login_section .login_section-form form h2{
    padding: 1.2rem 0;
}
main .login_section .login_section-form form input{
    padding: 1.2rem 0;
    margin: 1.2rem 0;
    background-color: transparent;
    border: 0.3rem solid var(--main_color);
    width: 500px;
    border-radius: 12px;
    color: var(--color_font);
    font-size: 1.6rem;
    text-indent: 6px;
}
main .login_section .login_section-form form input::placeholder{
    color: #ababab;
    padding: 6px;
    font-size: 1.4rem;
}
main .login_section .login_section-form form input:focus{
    background-color: rgba(255, 255, 255, 0.051); 
}
main .login_section .login_section-form form button{
    background-color: transparent;
    border: transparent;
    font-size: 2.4rem;
    margin: 2rem 0;
    padding: 0 0.6rem;
    text-align: left;
    color: var(--color_font);
    font-weight: bold;
}
main .login_section .login_section-form form button:hover{
    cursor: pointer;
}
.login_footer{
    position: relative;
    bottom: 0%;
    width: 100%;
}
@media screen and (max-width: 1440px){
    /*
    ***
    ***page::user.login
    ***
    */
    body main{
        width: 90vw;
    }
    body main .login_section img{
        width: 44rem;
    }
}
@media screen and (max-width: 1080px){
    /*
    ***
    ***page::user.login
    ***
    */
    body main{
        width: 90vw;
    }
    body main .login_section{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    body main .login_section img{
        display: none;
    }
    main .login_section h2{
        font-size: 3rem;
    }
    main .login_section .login_section-form{
        width: 540px;
        margin-left: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    main .login_section .login_section-form form input{
        width: 400px;
    }
    main .login_section .login_section-form form button{
        text-align: center;
    }
    .login_footer p{
        font-size: 1.2rem;
    }
}